<div class="title">
  <h1>Detalle de carrito </h1>
    <a href="/api/carts">
    <label for="carts">Mira los carritos actuales</label>
    <img id="carticon" src="/images/carticon.png" alt="carrito">
  </a>


   <a href="/api/">
    <img id="homeicon" src="/images/home.png" alt="home">
  </a>

  </div>
  <h2>CID: {{result._id}}</h2>
<p>Si las cantidades solicitadas superan al stock actual, aunque adquieras el carrito, ningun producto se cargará, y permaneceran en el carrito.</p>
<table>
	<thead>
		<tr>
			<td>Title</td>
			<td>Description</td>
			<td>Category</td>
			<td>Price</td>
			<td>Cantidad</td>
			<td>Stock Actual</td>
		</tr>
	</thead>
	<tbody>


    {{#each result.products}}
            <tr>
			<td>{{this.product.title}}</td>
			<td>{{this.product.description}}</td>
			<td>{{this.product.category}}</td>
			<td>${{this.product.price}}</td>
			<td>{{this.quantity}}</td>
			<td>{{this.product.stock}}</td>
		</tr>
        {{/each}}


   
      
	</tbody>
</table>

